* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #17103b;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  background-color: #ffa593;
  border: 0;
  padding: 1rem;
  margin-top: auto;
  font-weight: bold;
  box-shadow: 0 5px 10px #ffa593;
  transition: all 400ms ease;
}

button:hover {
  box-shadow: 0 0 15px #ffa593;
}

.container {
  background-color: #d4edee;
  max-width: 1200px;
  padding: 6rem 2rem;
  margin: 1rem;
  border-radius: 0.75rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.block {
  padding: 2rem;
  border-radius: 0.5rem;
}

.block h1 {
  font-size: 3rem;
  font-weight: bold;
}

.container p {
  font-size: 1.15rem;
}
