* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 25, 66);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  max-width: 350px;
  color: #fff;
  background-color: rgb(21, 14, 45);
  border-radius: 4px;
}

.card-top {
  background-color: rgb(27, 15, 58);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro {
  padding: 0.25em;
  background-color: rgb(228, 172, 42);
  border-radius: 2px;
  color: rgb(43, 13, 108);
  font-weight: bold;
  align-self: flex-start;
}

.user-picture img {
  width: 90px;
  height: 90px;
  padding: 0.25rem;
  border-radius: 50%;
  outline: 1px solid #03bfcb;
}

.user-name {
  font-weight: bold;
  margin-top: 1rem;
}

.location {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.desc {
  max-width: 30ch;
  margin: 0.5rem 0;
  font-size: 0.85rem;
}

button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

button.message {
  color: #fff;
  background-color: #03bfcb;
  outline: 1px solid #03bfcb;
}
button.following {
  background-color: transparent;
  outline: 1px solid #03bfcb;
  color: #fff;
}

.buttons-container {
  margin-bottom: 1rem;
}
.card-bottom {
  padding: 1rem;
}

.skills-container .skills-header {
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills p {
  outline: 1px solid rgb(255, 255, 255);
  padding: 0.25rem;
  border-radius: 1px;
  font-size: 0.75rem;
}
