* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: linear-gradient(
    151deg,
    rgba(241, 115, 198, 1) 25%,
    rgba(254, 107, 150, 1) 75%
  );
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

.container {
  text-align: center;
  color: #fff;
  max-width: 50ch;
  margin-bottom: 18rem;
}

.design {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.error {
  font-size: 12rem !important;
  font-weight: bold;
}

.h1 {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}
.container p {
  font-size: 1.25rem;
}

.container p a {
  color: #fff;
}
