* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e55952;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.1;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}

.email-container {
  background-color: #fff;
  max-width: 800px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  overflow: hidden;
}

.left-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-column {
  padding: 6rem 1.5rem 1rem 1.5rem;
  text-align: center;
  position: relative;
}

.right-column .percent-off-icon {
  background-color: #f3ebc9;
  color: #c1342a;
  width: 50px;
  height: 50px;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  place-content: center;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  transform: rotate(-10deg);
  border-radius: 50%;
}

.right-column .close-icon {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.right-column .email-information {
  margin-bottom: 4rem;
}

.right-column .email-information h1 {
  color: #305c70;
  max-width: 10ch;
  margin: 0 auto 1rem auto;
  font-size: 1.5rem;
}
