* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  background-color: #555;
  color: #fff;
  height: 100vh;
  font-weight: bold;
  font-size: 3rem;
  display: grid;
  place-content: center;
  outline: 2px solid #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #fff;
}

.message-container {
  background-color: #fcd6cf;
}

.nav-message {
  padding: 0.5rem 0;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-message p {
  margin: auto;
}

.nav-message span {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

nav {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
}

nav .logo {
  cursor: pointer;
  margin-right: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

nav .nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

nav .nav-list li {
  cursor: pointer;
}

nav .nav-list li .underline {
  display: block;
  background-color: #197590;
  width: 0;
  height: 2px;
  transition: all 400ms ease;
}

nav .nav-list li .underline {
  display: block;
  background-color: #197590;
  width: 100%;
  height: 2px;
}

.nav-list .search-box {
  background-color: #eff2f6;
  padding: 0.5rem;
  margin-right: auto;
  border-radius: 1.5rem;
}

.nav-list .search-box i {
  margin-right: 0.25rem;
}

.nav-list .search-box input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.shopping-cart-btn {
  cursor: pointer;
  margin-left: 4rem;
}

.mobile-menu-btn {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

.close-btn {
  cursor: pointer;
  font-size: 2rem;
  text-align: right;
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
  }

  .close-btn {
    display: block;
  }

  .shopping-cart-btn {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  nav .nav-list {
    background-color: #fff;
    width: 60%;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    position: fixed;
    top: 0;
    right: 0;
    outline: 2px solid #000;
    transform: translate(100%);
    transition: all 200ms ease;
  }

  nav .nav-list.active {
    transform: translate(0);
  }

  .nav-list .search-box {
    margin: initial;
  }

  @media (max-width: 540px) {
    nav .nav-list {
      width: 90%;
      padding: 1rem;
    }
  }
}
