* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #1f82b8;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.line {
  background-color: #62d4e6;
  margin-top: 4rem;
  height: 5px;
  width: 100%;
}

.nav-list {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.nav-list li {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.nav-list li a,
.nav-list .drop-down span {
  color: #fff;
  text-decoration: none;
  text-shadow: -6px 6px 15px #000000cc;
}

.nav-list .drop-down {
  position: relative;
}

.nav-list .drop-downp .drop-down-menu {
  margin-top: 0.5rem;
  display: none;
  position: absolute;
  outline: 2px solid #62d4e6;
}

.nav-list .drop-down .drop-down-menu li:hover {
  background-color: #62d4e6;
}

.nav-list .drop-down .drop-down-menu li:not(:last-child) {
  border-bottom: 2px solid #62d4e6;
}

.nav-list .drop-down .drop-down-menu li a {
  color: #fff;
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
