* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  background-image: url(./image/lucas-gallone-WW9UNoQmUkM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

.form-tab {
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  outline: 1px solid #909090;
}

.tab-headers {
  display: flex;
}

.tab-headers button {
  background-color: #fff;
  color: #079e9e;
  padding: 1.25rem 4rem;
  font-size: 1rem;
  flex: 1;
  transition: all 400ms ease;
}

.tab-headers button.active {
  background-color: #00000090;
  color: #fff;
}
