* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #f5a623, #fbc02d);
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

.container {
  max-width: 900px;
  height: auto;
  background-color: #d8d8d8;
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.container h1 {
  font-size: 24px;
}

.container-cards {
  display: flex;
  padding: 1rem 0rem;

  justify-content: space-between;
  gap: 1rem;
}

.card {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  position: relative;
}

.card .badge {
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d3d3d3;
  padding: 0.2rem 1rem;
  border-radius: 0rem 0rem 0.2rem 0.2rem;
  text-align: center;
}

.container__card-desc p {
  text-align: center;
}

.container__card-desc p.title {
  font-size: 1rem;
  font-weight: bold;
}
.container__card-desc p.price {
  font-size: 2rem;
  font-weight: bold;
}

.price span {
  font-size: 1rem;
}
