* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4c647e;
  background-image: url(./image/pexels-pixabay-326055.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

#show-modal {
  font-size: 1.25rem;
}

.blue-btn {
  cursor: pointer;
  background-color: #337ece;
  color: #d2deea;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

.blue-btn:hover {
  background-color: #498bd2;
  box-shadow: 5px 10px 10px -5px rgba(73, 139, 210, 1);
}

.light-blue-btn {
  cursor: pointer;
  background-color: #d2deea;
  color: #498bd2;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

.light-blue-btn:hover {
  background-color: #c7d0da;
  box-shadow: 5px 10px 10px -5px rgba(210, 222, 234, 1);
}

#close-modal-button {
  cursor: pointer;
}

.modal-container {
  pointer-events: none;
  background-color: #fff;
  color: #a7a7a7;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 400ms ease;
}
