* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    rgba(196, 144, 254, 1) 0%,
    rgba(231, 161, 189, 1) 100%
  );
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}
