* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    rgba(196, 144, 254, 1) 0%,
    rgba(231, 161, 189, 1) 100%
  );
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
}

#login {
  background-color: #a06bed;
}

#signup {
  background-color: #f33c7f;
}

.container {
  background-color: #fff;
  max-width: 440px;
  margin: 1rem;
  padding: 2rem 2.5rem 4rem 2, 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  width: 95%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
