* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #f7f9fb;
  color: #000;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  display: grid;
  place-content: center;
}

h1 {
  line-height: 1.2;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
}

.container {
  background-color: #fff;
  padding: 4rem;
  margin: 1rem;
  max-width: 1000px;
  box-shadow: 0 10px 20px 5px #cd3e5150;
}

.top {
  margin-bottom: 2rem;
}

.top .title-rating {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .title-rating p {
  color: #b1b1b4;
  font-size: 1.15rem;
}

.top .title-rating p span {
  color: #cd3e50;
  font-weight: bold;
}

.top .genre {
  color: #cd3e50;
  font-weight: 600;
}

.movie {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.movie .buy-movie {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie .buy-movie p {
  font-size: 1.15rem;
  font-weight: bold;
}

.movie .buy-movie .buy-btn {
  padding: 0.5rem 2rem;
  color: #000;
  font-weight: bold;
  outline: 2px solid #000;
  border-radius: 1.5rem;
  transition: all 200ms ease;
}

.movie .buy-movie .buy-btn:hover {
  background-color: #000;
  color: #fff;
}

.movie .movie-description .about-movie {
  margin-bottom: 0.5rem;
}

.movie .movie-description .movie-text {
  font-size: 1.25rem;
}

.movie .movie-description .credits {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}
