body {
  background-color: #202a47;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.blob {
  display: block;
  background-color: #f5a623;
  width: 1000px;
  height: 1000px;
  position: absolute;
  bottom: -200px;
  right: -30px;
  transform: rotate(45deg);
  border-radius: 30% 0 0 30%;
  z-index: 0;
  /* overflow: hidden; */
}

.container {
  background-color: #314170;
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.announcements {
  max-width: 450px;
}

.announcement-item {
  background-color: #202a47;
  padding: 1rem 1.25rem;
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: 10px;
  position: relative;
  border-radius: 0.5rem;
}

.announcement-item.hide {
  display: none;
}

.announcement-item h2 {
  font-size: 1.15rem;
}

.announcement-item .dots {
  cursor: pointer;
  color: #7984ab;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: 25px;
}

.announcement-item .avatar-info {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 12px;
}

.announcement-item .avatar-info img {
  width: 40px;
  height: 40px;
  border: 3px solid #8893bc;
  border-radius: 50%;
}

.announcement-item .avatar-info .avatar-name {
  color: #8893bc;
  font-size: 0.9rem;
  font-weight: bold;
}

.announcement-item .announcement-time {
  color: #7984ab;
  font-size: 0.9rem;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #4a9bff;
  font-weight: bold;
  padding: 0.75rem 2rem;
  width: max-content;
  align-self: center;
  border-radius: 0.25rem;
  border: 0;
}

button:hover {
  background-color: #6eafff;
}

#dismiss-all-btn {
  margin-top: 6rem;
}

#dismiss-all-btn.hide {
  display: none;
}

#reset-btn {
  display: none;
}

#reset-btn.show {
  display: block;
  margin-top: 6rem;
}
