* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    rgba(148, 97, 200, 1) 0%,
    rgba(40, 198, 165, 1) 100%
  );
  color: #fff;
  min-height: 100%;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 1.25rem;
}

h2 {
  margin: 1rem 0;
  font-size: 1.9rem;
}

p {
  font-size: 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.grid-container {
  max-width: 1400px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.author {
  margin: 1rem 0;
  font-size: 0.9rem;
}
