* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    rgba(148, 97, 200, 1) 0%,
    rgba(40, 198, 165, 1) 100%
  );
  color: #fff;
  min-height: 100%;
  display: grid;
  place-content: center;
}
