* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    15deg,
    rgba(148, 97, 200, 1) 0%,
    rgba(40, 198, 165, 1) 100%
  );
  color: #fff;
  min-height: 100%;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 1.25rem;
}

h2 {
  margin: 1rem 0;
  font-size: 1.9rem;
}

p {
  font-size: 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.grid-container {
  max-width: 1400px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.author {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.author a {
  color: #fff;
}

.main-btn {
  cursor: pointer;
  color: #fff;
  padding: 1.25rem 0.6rem;
  margin-top: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  outline: 1px solid #fff;
  transition: all 400ms ease;
}

.main-btn:hover {
  background-color: #fff;
  color: #000;
  outline: 1px solid #000;
}

.box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px) saturate(80%);
  -webkit-backdrop-filter: blur(4px) saturate(80%);
}

.box-1 {
  text-align: center;
  grid-row: 1 / span 2;
}

.box-1 .desc {
  padding: 2rem;
}

.box-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  grid-column: 2/-1;
}
