* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaecf9;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

.grid-container {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
}
