* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3550;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: #6383f5;
  border: 0;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.grid-card {
  max-width: 800px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #4265e2;
  padding: 2rem;
  border-radius: 6px;
  transition: all 200ms ease;
}

.card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 3px 8px 0 -1px rgba(255, 255, 255, 0.75);
}

.card-1 .item-description {
  color: #fff;
  margin-top: 0.5rem;
  display: flex;
}

.card-1 .item-description .arrow {
  padding: 0 0.5rem 0 1rem;
  font-size: 1.25rem;
  transition: all 200 ease;
}

.card-1:hover .arrow {
  padding: 0 0 0 1rem;
}

.card:nth-child(2) {
  grid-row: span 2;
}

.card-2 img {
  margin-bottom: 1rem;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-2 .date {
  color: #7e96eb;
  margin: 0.5rem 0 1.5rem 0;
}

.card-3 .list-item {
  margin: 1rem;
}

.card-3 .list-item i {
  margin-right: 0.5rem;
}

.card-3 .list-item a {
  color: #fff;
}
