* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    159deg,
    rgba(217, 204, 200, 1) 0%,
    rgba(180, 157, 149, 1) 100%
  );
  color: #1e1411;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 1.25em;
  font-weight: bold;
  border: 0;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.05);
}

small {
  font-weight: 600;
}
