* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    159deg,
    rgba(217, 204, 200, 1) 0%,
    rgba(180, 157, 149, 1) 100%
  );
  color: #1e1411;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 1.25em;
  font-weight: bold;
  border: 0;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.05);
}

small {
  font-weight: 600;
}

.dark-mode {
  background-color: #333;
  background: linear-gradient(
    159deg,
    rgba(138, 166, 206) 0%,
    rgba(18, 31, 96) 100%
  );
  color: #fff;
}

.card {
  background-color: #fff;
  padding: 4rem;
  margin: 1rem;
  max-width: 500px;
  border-radius: 2rem;
  box-shadow: 5px 10px 25px 1px #1e141175;
  position: relative;
}

.card::before {
  content: "";
  display: block;
  width: 95%;
  height: 90%;
  background: linear-gradient(
    75deg,
    rgba(217, 204, 200, 1) 0%,
    rgba(180, 157, 149, 1) 100%
  );
  border-radius: 2rem;
  position: absolute;
  top: -30px;
  left: 40%;
  transform: translateX(-50%);
  z-index: -1;
}

.card .about {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .about .dots {
  position: relative;
  font-size: 1.5rem;
}

.card .about .dots i {
  cursor: pointer;
}

.card .about .dots .theme-select #theme {
  background-color: #fff;
  padding: 0.25rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 30px;
  right: 0px;
  transition: opacity 200ms ease;
}

.card .about .dots .theme-select #theme.show {
  opacity: 1;
  pointer-events: all;
}

.card h1 {
  margin: 2rem 0 1rem;
}

.card text {
  font-weight: 600;
  font-size: 1.25rem;
}

.stats {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 6rem;
}
