* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(224, 217, 230);
}

button {
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 0;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.05);
}
.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.card {
  background-color: #fff;
  padding: 3rem 2.5rem;
  border-radius: 0.5rem;
}

.card .benefits {
  margin-bottom: 3rem;
}

.card .benefits .benefit {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.card .benefits .benefit i {
  background-color: #fff;
  color: #76a254;
  border-radius: 50%;
  padding: 0.25rem;
}

.card-starter {
  border: 1rem solid #e1e1f6;
  transform: all 200ms ease;
}

.card-starter:hover {
  box-shadow: 0 0 25px 2px #7c54d1;
}

.card-starter .header-p {
  font-weight: bold;
  margin-bottom: 4rem;
}

.card-starter h3 {
  color: #7c54d1;
}

.card-starter button {
  background-color: transparent;
  color: #7c54d1;
  outline: 1px solid #7c54d1;
  transition: all 200ms ease;
}

.card-starter button:hover {
  color: #fff;
  background-color: #7c54d1;
}
.card-professional {
  border: 1rem solid #e1e1f6;
  transform: all 200ms ease;
}

.card-professional {
  box-shadow: 0 0 25px 2px #7c54d1;
}
