* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    150deg,
    rgba(232, 221, 253, 1) 0%,
    rgba(254, 236, 212, 1) 51%,
    rgba(247, 241, 250, 1) 100%
  );
  min-height: 100vh;
  display: grid;
  place-content: center;
}
