* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button:hover {
  box-shadow: 0 0 15px 5px #3ffb2a81;
  transition: all 200ms ease;
}

.card {
  background-color: #000;
  padding: 2rem;
  margin: 1rem;
  max-width: 400px;
  border-radius: 0.75rem;
}

.card:hover {
  box-shadow: 0 0 15px 5px #3ffb2a81;
  transition: all 200ms ease;
}

.card .item-img {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .tag {
  padding: 0.15rem 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  font-size: 0.825rem;
  border-radius: 0.5rem;
  outline: 1px solid #fff;
}

.card .tag span {
  color: #40fb2a;
  font-weight: bold;
}

.card h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card .old-price {
  color: #999;
  font-size: 0.825rem;
  text-decoration: line-through;
}

.card .new-price {
  font-size: 2.25rem;
  font-weight: 600;
}

.card .terms {
  color: #999;
  margin-bottom: 1.5rem;
  font: size 0.825rem;
}

.card .card-btn {
  cursor: pointer;
  background-color: #40fb2a;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
  border-radius: 0.5rem;
}
