* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

footer {
  background-color: #003249;
  max-width: 1400px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1.75rem;
  overflow: hidden;
}

.block {
  padding: 4rem;
}

.block-1 {
  border-color: #9ad1d4;
}

.block-2 {
  background-color: #007ea7;
  color: #fff;
}

.block-3 {
  background-color: #80ced6;
}

.block-4 {
  background-color: #ccdbdc;
}
.block-5 {
  color: #fff;
}

.box-heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.block ul li {
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0.5rem;
}

.block ul li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
