* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #288bcd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  color: #fff;
  max-width: 900px;
  margin: 1rem;
}

.container h1 {
  margin-bottom: 2rem;
}

.events-list {
  color: #000;
}

.events-list .item {
  background-color: #fff;
  padding: 1.25rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1.5rem;
  border-radius: 1rem;
}

.events-list .item .date {
  background-color: #4a8df2;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.events-list .item .date .day {
  font-size: 0.9rem;
}

.events-list .item .date .time {
  font-size: 1.15rem;
  font-weight: bold;
}

.events-list .item .name h2 {
  margin-bottom: 0.5rem;
}

.events-list .item .add-to-calendar {
  cursor: pointer;
  background-color: transparent;
  padding: 1rem;
  text-wrap: nowrap;
  align-self: start;
  border: 0;
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

.events-list .item .add-to-calendar:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .events-list .item .date {
    height: min-content;
  }

  .events-list .item .name {
    grid-column: 2/-1;
  }
  .events-list .item .add-to-calendar {
    grid-column: 1/-1;
  }
}

@media (max-width: 600px) {
  .events-list {
    grid-template-columns: 1fr;
  }
}
