* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a1015;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

i {
  color: #5aa524;
  font-size: 4rem;
  margin-bottom: 1rem;
}

img {
  width: 70px;
  height: 70px;
  mask-border: 1rem;
  border-radius: 50%;
}

.container {
  background-color: #0d141a;
  padding: 3.5rem 3rem;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5rem solid #000;
  border-radius: 8px;
}

.information h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.information p {
  max-width: 35ch;
  font-weight: 200;
}

.profiles-section {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.profile {
  cursor: pointer;
  background-color: #0a1015;
  padding: 4rem;
  border-radius: 8px;
  transition: all 200ms ease;
}

.profile:hover {
  background-color: #5aa524;
}

.name {
  margin: 1rem 0;
  font-weight: bold;
}

.number-of-trees {
  color: #5aa524;
  width: fit-content;
  margin: auto;
  padding: 4px 10px;
  font-size: 0.75rem;
  border: 1px solid #5aa524;
  border-radius: 15px;
}
.profiles-section .profile:hover .number-of-trees {
  color: #0a1015;
  border: 1px solid #000;
}

.join-now-btn {
  cursor: pointer;
  background-color: transparent;
  color: #5aa524;
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  border: 1px solid #5aa524;
  border-radius: 8px;
  transition: all 200ms ease;
}
