* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 90%;
  margin: auto;
}

nav {
  margin-bottom: 2rem;
  font-weight: 600;
}

nav .top-nav {
  padding: 2rem 0;
  border-bottom: 1px solid #000;
}

nav .bottom-nav {
  padding: 2rem 0;
}

nav .top-nav .top-nav-container,
nav .bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .top-nav .top-nav-container .nav-list,
nav .bottom-nav ul {
  display: flex;
  gap: 2rem;
}

nav .bottom-nav ul li {
  margin-bottom: 0.5rem;
}

nav .top-nav .top-nav-container .nav-btns {
  display: flex;
  gap: 1rem;
}

nav .top-nav .top-nav-container .nav-btns a {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 1.5rem;
  outline: 1px solid #000;
}

nav .top-nav .top-nav-container .nav-btns .login-btn {
  background-color: transparent;
  color: #000;
}

nav .top-nav .top-nav-container .nav-btns .signup-btn {
  background-color: #000;
  color: #fff;
}

nav .top-nav ul li,
nav .bottom-nav ul li {
  cursor: pointer;
}

nav .bottom-nav .search-box input {
  padding: 0.25rem;
  font-size: 1.05rem;
  border: 0;
  outline: 0;
}

nav .bottom-nav .search-box input:focus {
  border-bottom: 1px solid #000;
}

nav .bottom-nav .search-box i {
  cursor: pointer;
}

.main-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.main-grid h1 {
  font-size: 4rem;
}

.main-grid .article-author {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-grid .article-author img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.main-grid .left-column {
  grid-column: 1/2;
}
