* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #5e9d00;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

.container {
  background-color: #fff;
  color: #1b2b5c;
  padding: 3rem;
  margin: 1rem;
  border-radius: 1.25rem;
}

.container h1 {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
}

.container form .form-item {
  margin-bottom: 1rem;
}

.container form .form-item div {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container form div {
  margin-bottom: 1.5rem;
}

.container form div input[type="radio"] {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  outline: 3px solid #5e9d00;
  outline-offset: 3px;
  border-radius: 50%;
}

.container form div input[type="radio"]:checked {
  background-color: #5e9d00;
}

.container form .form-item textarea {
  background-color: #f1feec;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  resize: none;
  border-radius: 0.25rem;
}

.container form .small a {
  color: #5e9d00;
  font-weight: bold;
}

.container form .form-buttons {
  margin-top: 1rem;
}

.container form .form-buttons button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
}

.container form .form-buttons .cancel {
  background-color: #f1feec;
}

.container form .form-buttons .submit {
  background-color: #5e9d00;
  color: #fff;
}
