* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #000;
  width: max-content;
  display: block;
  text-decoration: none;
}

.link-primary {
  background: linear-gradient(
    90deg,
    rgba(255, 118, 137, 1) 0%,
    rgba(255, 140, 83, 1) 100%
  );
  padding: 0.75rem 1.75rem;
  border-radius: 2rem;
  color: #fff;
  font-weight: bold;
}

.link-secondary {
  padding: 0.75rem 1.75rem;
  border-radius: 2rem;
}

body {
  background-color: #f4f7fc;
  color: #354162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #fff;
  padding: 3rem 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .nav-links,
header nav .nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav .nav-links a:hover {
  text-decoration: underline;
}

header nav .nav-actions .link-secondary:hover {
  text-decoration: underline;
}

header nav .menu-bars {
  display: none;
}

.header-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.hero {
  background-image: url(./images/lucas-gallone-WW9UNoQmUkM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  margin-bottom: 6rem;
  display: grid;
  place-content: center;
}

.hero .hero-text {
  background-color: #03176475;
  color: #fff;
  padding: 3rem;
  margin: 1rem;
  max-width: 700px;
  text-align: center;
}

.hero .hero-text h1 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.hero .hero-text a {
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.cards-container {
  width: 90%;
  max-width: 1200px;
  padding-bottom: 2rem;
  margin: auto;
}

.card {
  background-color: #fff;
  text-align: center;
}

.card a {
  padding: 0.75rem 1.75rem;
  margin: auto;
  font-weight: bold;
  border-radius: 2rem;
  outline: 1px solid #354162;
  transition: all 200ms ease;
}

.card a:hover {
  background-color: #354162;
  color: #fff;
}

.card .card-text {
  padding: 3rem 3rem 2rem 3rem;
}

.card-text p {
  margin: 1.5rem 0;
}

@media (max-width: 768px) {
  header nav .nav-actions {
    display: none;
  }
}
