* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-size: 1.15rem;
  border: 0;
  border-radius: 0.5rem;
}

body {
  background-color: #d5e7dc;
  color: #14203e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #fff;
}

.dark-btn {
  background-color: #14203e;
  color: #d5e7dc;
}

.dark-btn:hover {
  background-color: #293146;
  color: #d5e7dc;
}

nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .logo {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

nav .nav-links {
  cursor: pointer;
  margin: auto;
  font-size: 1.15rem;
  display: flex;
  gap: 2rem;
}

nav .nav-links li:hover {
  text-decoration: underline;
}

nav .nav-links #close-menu-btn {
  display: none;
}

nav .login-buttons {
  position: absolute;
  right: 0;
}

nav .login-buttons button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}
