* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-color: #eee;
  line-height: 1.6;
  display: grid;
  place-content: center;
}

.container {
  background-color: #fff;
  padding: 8rem 4rem;
}
