* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeffc;
  color: #383e6c;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}
