* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeffc;
  color: #383e6c;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}

.card-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  cursor: pointer;
  background-color: #fff;
  max-width: 22rem;
  box-shadow: 1px 1px 13px -1px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  transition: all 200ms ease;
}
