* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f4f0ff;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

.container {
  background-color: #fff;
  max-width: 450px;
  padding: 2rem 4rem;
  text-align: center;
  position: relative;
  border-radius: 1rem;
}

.container:before {
  content: "";
  background-color: #ddf0f7;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  border-radius: 1rem;
}

.container button {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
}

.container h1 {
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 1rem;
}

.container .or {
  display: block;
  margin-bottom: 1rem;
}

.container .join-btn {
  background-color: #4968ad;
  color: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 0.5rem;
}

form .form-item input {
  width: 100%;
  padding: 0.5rem;
}

form .form-item:nth-child(3),
form .form-item:nth-child(4),
form .form-item:nth-child(5) {
  grid-column: span 2;
}

form .form-item .create-btn {
  background-color: #1e2c4b;
  color: #fff;
}

.container .terms {
  font-size: 0.8rem;
}

.container .terms a {
  color: #000;
}

@media (max-width: 540px) {
  .container {
    padding: 2rem 1rem;
  }
}
