* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  display: grid;
  place-content: center;
}
