* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  display: grid;
  place-content: center;
}

h1 {
  color: #ffc943;
  font-size: 1.15rem;
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
  background-color: #1d1d1d;
  color: #ffc943;
  width: 100%;
  padding: 1.25rem;
}
