* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f8ff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
  display: block;
}

.container {
  background-color: #fff;
  max-width: 900px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.right {
  padding: 3.5rem 6rem 0 0;
  display: flex;
  flex-direction: column;
}

.right h1 {
  margin-bottom: 2rem;
}

.right form .item {
  color: #4a4a4a;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right form .item input {
  background: #f9fcfe;
  padding: 1rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: 0;
  outline: 1px solid #bbd8f1;
}

input::placeholder {
  color: #bcbcbc;
  opacity: 1;
}

.right form .login-btn {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.right form .submit {
  background-color: #6aaeea;
  color: #fff;
}

.right form .linkedin {
  background-color: #0d65c2;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.right form p {
  margin: 1.1rem 0;
  display: flex;
  justify-content: center;
  color: #878787;
}

.right a {
  text-decoration: none;
  margin-top: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.right .bottom-link i {
  font-size: 0.25rem;
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 855px) {
  .container {
    max-width: 500px;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .right {
    padding: 2rem;
  }
  .right .bottom-link {
    margin-top: 1rem;
  }
}

@media (max-width: 590px) {
  .right {
    padding: 0;
  }
  .right .bottom-link {
    font-size: 0.75rem;
  }
}
