* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #292929;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #191919;
  color: #8a8a8a;
  padding-top: 6rem;
}

main {
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-list {
  display: flex;
  gap: 2rem;
}

header nav .nav-list li {
  cursor: pointer;
  padding: 1rem;
  transition: all 100ms ease-in;
}

header nav .nav-list li:hover {
  color: aqua;
}

header nav .nav-list .active {
  color: aqua;
  border-bottom: 4px solid aqua;
}

header nav .search-btn {
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 100ms ease-in;
}

header nav .search-btn:hover {
  color: aqua;
}

.container {
  width: 80%;
  min-width: 1200px;
  margin: 0 auto;
}

.main-titles {
  padding: 2rem 0;
}

.app-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

.app {
  font-size: 0.75rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 0.5);
}

.app .app-img {
  width: 120px;
}

.app-title {
  font-weight: bold;
}

.stars {
  display: flex;
  margin: 0.25rem 0;
}

.install-btn {
  cursor: pointer;
  background-color: #191919;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #191919;
  border-bottom-color: aqua;
  border-bottom-width: 3px;
  border-radius: 4px;
  transition: all 100ms ease-in;
}

.install-btn:hover {
  background-color: aqua;
}
