* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3e5fc;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  background-color: #fff;
  max-width: 1000px;
  padding: 2rem 4rem;
  margin: 1rem;
}
